h2 {
    @include up-to(medium) {
        color: var(--PrimaryText);
    }

    @include up-from(medium) {
        color: var(--Text);
    }

    @include up-from(large) {
        color: var(--Background50);
    }
}