{% set inlineJs %}
    {% include assets.getInlinePath("inline-critical.js") %}
{% endset %}
{% if not pageJs %}
    {% set pageJs = "index.js" %}
{% endif %}
<!DOCTYPE html>
<html data-theme="light" lang="en">
    <head>
        <base href="/"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        {% include 'partials/meta.njk' %}
        {% include 'partials/fonts.njk' %}
        <style>
            {% include "css/critical.css" %}
        </style>

        {# Add facility for pages to declare an array of critical styles #}
        {% if pageCriticalStyles %}
            {% for item in pageCriticalStyles %}
                <style>
                    {% include item %}
                </style>
            {% endfor %}
        {% endif %}
    </head>
    {% if not skipLinkAnchor %}
        {% set skipLinkAnchor = "#main-content" %}
    {% endif %}
    <body>
        <a class="skip-link" href="{{skipLinkAnchor}}">Skip to content</a>
        <div class="wrapper">
            <header>
                {% include 'partials/nav.njk' %}
            </header>
            <main id="main-content">
                {% block content %}{% endblock %}
            </main>
            {% include 'partials/footer.njk' %}
        </div>
        <script type="module">
            {{ inlineJs | jsmin | safe }}
          </script>
        <script src="{{ assets.getPath(pageJs) }}" type="module"></script>
    </body>
</html>