/* Theme */
$bg: #343434;
$bg-50: #868686;
$secondary: #2b2a2a;
$secondary-50: #262525;
$primary:#74baff;
$primary-50: #74a9de;
$text: #F0F0F0;
$text-50: #DCDCDC;
$highlight: #FFF;
$white: #f0f0f0;

@import "./themes/default";
