@import "reset";
@import "variables";
@import "mixins";
@import "colors";
@import "../../node_modules/lite-youtube-embed/src/lite-yt-embed.css";


html {
    font-family: "Poppins", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

:root {
    @include default-theme;
    font-size: calc(1rem + 0.5vw);
}

/* Utilities */
@import "./utils/visually-hidden";

/* Components */
@import "./components/header";
@import "./components/nav";
@import "./components/video";

body {
    background: var(--Background);
    color: var(--Text);

}

.wrapper  {
    height: 100%;
}

a {
    color: var(--Background50);
}

.skip-link {
    position: absolute;
    top:0;
    right:0;
    z-index: 99;
    margin-top:1.5rem;
    &:not(:focus) {
        @extend .visually-hidden;
    }
}