<link rel="preload" as="font" type="font/woff2" href="fonts/Poppins-400-latin3.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" type="font/woff2" href="fonts/Poppins-600-latin6.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" type="font/woff2" href="fonts/Poppins-800-latin9.woff2" crossorigin="anonymous"/>
<style>
    {% include "fonts/fonts.css" %}
</style>