<link rel="preload" as="font" type="font/woff2" href="fonts/Nunito-400-latin5.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" type="font/woff2" href="fonts/Nunito-600-latin10.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" type="font/woff2" href="fonts/Nunito-800-latin15.woff2" crossorigin="anonymous"/>
<style>
    {% include "fonts/fonts.css" %}
</style>